<div class="main" *ngIf="word">
  <div class="wd">
    <img *ngIf="word.picture" [src]="word.picture.formats.thumbnail.url" />
    {{ this.word.name }} &nbsp; {{ this.status }}
    {{ this.tip }}
  </div>

  <table class="m-table">
    <thead>
      <tr class="title">
        <th class="first w1">
          <div class="wp">&nbsp;</div>
        </th>
        <th><div class="wp">区域</div></th>
        <th><div class="wp">朗读者</div></th>
        <th><div class="wp">性别</div></th>
        <th><div class="wp">年龄</div></th>
        <th><div class="wp">跟读</div></th>
      </tr>
    </thead>
    <tbody *ngIf="word != null">
      <tr *ngFor="let item of word.audios; let i = index">
        <td>
          <span class="num">{{ i + 1 }}</span
          ><span (click)="onPlay(i)" class="ply"></span>
        </td>
        <td>{{ item.region }}</td>
        <td>{{ item.author }}</td>
        <td>{{ item.sex }}</td>
        <td>{{ item.age }}</td>
        <td>
          <button (click)="onRecord(i)">开始</button>
          <button (click)="onRecordPlay(i)">播放</button>
          <button (click)="onRecordDownload(i)">下载</button>
          <button (click)="onAnalyze(i)">读音判别</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
