<div class="main" *ngIf="song">
  <div class="wd">
    {{ this.song.name }}
    <br />
    {{ this.song.content }}
  </div>
  <table class="m-table">
    <thead>
      <tr class="title">
        <th class="first w1">
          <div class="wp">&nbsp;</div>
        </th>
        <th><div class="wp">区域</div></th>
        <th><div class="wp">朗读者</div></th>
        <th><div class="wp">性别</div></th>
        <th><div class="wp">年龄</div></th>
      </tr>
    </thead>
    <tbody *ngIf="song != null">
      <tr *ngFor="let item of song.audios; let i = index">
        <td>
          <span class="num">{{ i + 1 }}</span
          ><span (click)="onPlay(i)" class="ply"></span>
        </td>
        <td>{{ item.region }}</td>
        <td>{{ item.author }}</td>
        <td>{{ item.sex }}</td>
        <td>{{ item.age }}</td>
      </tr>
    </tbody>
  </table>
</div>
