@import "src/styles/mixins";
:host {
  @include host-style;
}

#list-container {
  // horizontally and vertically center
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 1200px;
  height: 70%;
  padding: 0;
  margin: auto;
  overflow-y: auto;
  li {
    overflow: hidden;
    width: 1100px;
    height: 58px;
    display: block;
    margin: 0px 10px 10px;
    border: 1px solid #bebebe;
    border-radius: 10px;

    &:hover {
      border: 1px solid #470b02;
    }

    .content {
      width: 80%;
      margin: auto;

      i {
        width: 15px;
        margin-right: 2px;
      }

      span {
        // https://developer.mozilla.org/en-US/docs/Web/CSS/user-select
        user-select: none;
        color: rgb(35, 24, 21);
        font: 26px/58px 黑体;
      }
    }
  }
}
