@import "src/app/styles/mixins";
:host {
  @include host-style;
}
.container {
  width: 1300px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -600px;
  margin-top: -300px;
}
