<div>
  <p>
    嘉兴话，俗称“嘉兴闲话”。是一种吴语方言，属于吴语太湖片苏沪嘉小片。和北吴其他方言如苏州话、常州话、上海话、湖州话、绍兴话、宁波话、无锡话均能互通。
  </p>
  <h1>现状</h1>
  <p>
    随着推普大潮的到来，吴语在嘉兴日渐式微，不少嘉兴人甚至根本不知道自己说的嘉兴话就是吴语。在嘉兴常有老人抱怨，孙子孙女不会说土话（嘉兴人对本地吴语的感情交流出现障碍，更有甚者因此而引发家庭内部矛盾。由于强制推普，导致很多嘉兴孩子失去了学习吴语的机会和途径。吴越文化的概念在新一代嘉兴孩子心中已经消散。吴语的断代问题让不少持不同意见的的热心人士极为忧虑，近年于江南一带，有热心人士发出“保护吴语”“教孩子说吴语”“留住江南文化的根”“尊重文化多样性”等呼声，上海、苏州、杭州等地接连有吴语爱好者进行宣传保护吴语的活动，嘉兴本地也渐渐有一些小规模的保护和研究吴语的团体。
  </p>
  <h1>特点</h1>
  <p>
    吴语与湘语（指老湘语）是汉语七大方言语系中形成最早的方言，因此吴语至今保留了相当多的古音。吴语的一大特点在于保留了全部的浊音声母，具有七到八种声调，保留了入声。在听觉上，一种方言如果语速过快，抑扬顿挫过强，我们往往称这种话“太硬”，如宁波话；但如果语速过慢，缺乏明显的抑扬顿挫，我们往往称这种话“太侉”，如河南话。嘉兴话和苏州话一样，语调平和而不失抑扬，语速适中而不失顿挫，在发音上，感觉是较靠前靠上，这种发音方式有些低吟浅唱的感觉。
  </p>
</div>
