@import "src/app/styles/mixins";
:host {
  @include host-style;
}

.main {
  width: 1000px;
  height: auto;
  position: relative;
  left: 200px;
  top: 20px;

  .wd {
    width: 100%;
    height: 168px;
    font: 110px/168px "楷体";
    color: #052f40;
  }

  .m-table {
    width: 100%;
    border-top: 2px solid #c20c0c;
    border-collapse: collapse;
    border-spacing: 0;

    border: 1px solid #d9d9d9;
    border-top-color: rgb(217, 217, 217);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(217, 217, 217);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(217, 217, 217);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(217, 217, 217);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;

    .title {
      border-top: 2px solid #c20c0c;
    }
    .w1 {
      width: 74px;
    }

    .ply {
      width: 17px;
      height: 17px;
      cursor: pointer;
      background: url("src/assets/table.png") 0 -103px no-repeat;
      float: right;
    }

    .pause {
      width: 17px;
      height: 17px;
      cursor: pointer;
      background: url("src/assets/table.png") -20px -128px no-repeat;
      float: right;
    }

    td {
      text-align: left;
      font-size: 12px;

      padding: 6px 10px;
      line-height: 18px;
      text-align: left;
    }
    th {
      height: 38px;
      background-color: #f7f7f7;
      background-position: 0 0;
      background-repeat: repeat-x;
      vertical-align: top;

      text-align: left;
      font-weight: normal;
      color: #666;
      padding: 0;
      margin: 0;

      background: url("src/assets/table.png") 0 0;

      &.first .wp {
        background: none;
      }

      .wp {
        height: 18px;
        line-height: 18px;
        padding: 8px 10px;
        background: url("src/assets/table.png") 0 -56px no-repeat;
      }
    }
  }

  .player {
    width: 1014px;
    height: 157px;
    left: 100px;
    top: 27px;
    background: url("src/assets/voice_bg.png") no-repeat;
  }
}
