<img id="info" src="assets/info.png" />
<img id="logo" src="assets/logo.png" />

<div class="nav">
  <ul>
    <li>
      <a
        class="icon"
        [routerLink]="['/audio/characterList']"
        routerLinkActive="active"
      >
        <img src="assets/logo/词库.png" />
      </a>
      <a [routerLink]="['/audio/characterList']" routerLinkActive="active"
        >方言字库</a
      >
    </li>
    <li>
      <a
        class="icon"
        [routerLink]="['/audio/wordList']"
        routerLinkActive="active"
      >
        <img src="assets/logo/故事.png" />
      </a>
      <a [routerLink]="['/audio/wordList']" routerLinkActive="active"
        >方言词库</a
      >
    </li>
    <li>
      <a
        class="icon"
        [routerLink]="['/audio/sentenceList']"
        routerLinkActive="active"
      >
        <img src="assets/logo/句库.png" />
      </a>
      <a [routerLink]="['/audio/sentenceList']" routerLinkActive="active"
        >方言句库</a
      >
    </li>
    <li>
      <a
        class="icon"
        [routerLink]="['/audio/sentenceList']"
        routerLinkActive="active"
      >
        <img src="assets/logo/荟萃.png" />
      </a>
      <a [routerLink]="['/audio/sentenceList']" routerLinkActive="active"
        >方言故事</a
      >
    </li>
  </ul>
</div>
