@import "src/app/styles/mixins";
:host {
  @include host-style;
}
#info {
  position: absolute;
  left: 6%;
  top: 11%;
}

#logo {
  position: absolute;
  left: 50%;
  top: 3%;
  margin-left: -307px;
}

.nav {
  width: 1250px;
  height: 468px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 35%;
  margin-left: -484px;
}

ul {
  list-style: none;
  li {
    width: 155px;
    position: relative;
    overflow: visible;
    float: left;
    margin-right: 100px;

    a {
      display: block;
      text-decoration: none;
      width: 100%;
      font: 20px/68px "SimHei";
      color: #2e2e2e;
      text-align: center;

      &.icon {
        height: 160px;
        transition: transform 1s;
        &:hover {
          transform: rotate(270deg);
        }
      }
    }
  }
}
