<div class="main" *ngIf="sentence">
  <div class="wd">
    {{ this.sentence.name }} &nbsp; {{ this.status }}
    {{ this.tip }}
  </div>
  <table class="m-table">
    <thead>
      <tr class="title">
        <th class="first w1">
          <div class="wp">&nbsp;</div>
        </th>
        <th><div class="wp">区域</div></th>
        <th><div class="wp">朗读者</div></th>
        <th><div class="wp">性别</div></th>
        <th><div class="wp">年龄</div></th>
      </tr>
    </thead>
    <tbody *ngIf="sentence != null">
      <tr *ngFor="let item of sentence.audios; let i = index">
        <td>
          <span class="num">{{ i + 1 }}</span
          ><span
            (click)="onPlay(i)"
            [ngClass]="[playId === i ? 'pause' : 'ply']"
          ></span>
        </td>
        <td>{{ item.region }}</td>
        <td>{{ item.author }}</td>
        <td>{{ item.sex }}</td>
        <td>{{ item.age }}</td>
      </tr>
    </tbody>
  </table>
</div>
