@import "src/app/styles/mixins";
:host {
  @include host-style;
}
#info {
  position: absolute;
  left: 6%;
  top: 11%;
}

#logo {
  position: absolute;
  left: 50%;
  top: 3%;
  margin-left: -307px;
}

.nav {
  width: 750px;
  height: 408px;
  // overflow: hidden;
  // position: absolute;
  // left: 50%;
  // top: 25%;
  // margin-left: -384px;
}

.nav-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav img {
  width: 72px;
  height: 72px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  li {
    width: 155px;
    position: relative;
    overflow: visible;
    float: left;
    margin-right: 50px;
    margin-top: 50px;
    a {
      display: block;
      text-decoration: none;
      width: 100%;
      font: 20px/68px "SimHei";
      color: #2e2e2e;
      text-align: center;
      margin: auto;
      &.icon {
        height: 64px;
        width: 64px;
        transition: transform 1s;
        position: relative;
        &:hover {
          transform: rotate(270deg);
        }
      }
    }
  }
}

.announcement {
  position: absolute;
  bottom: 20px;
  width: 50%;
}

.announcement p {
  font-weight: 800;
  font-size: 14px;
}

#_span_jiucuo {
  display: block;
  position: relative;
  top: -90px;
  right: 30px;
  float: right;
}
.div46 {
  clear: both;
  width: 100%;
  height: 140px;
}
.div47 {
  width: 800px;
  height: 100%;
  margin: auto;
}
.div48 {
  width: 100px;
  height: 80px;
  float: left;
  margin-top: 35px;
  margin-left: 80px;
}
.div49 {
  color: #333;
  width: 450px;
  height: 80px;

  float: left;
  margin-top: 35px;
  text-align: center;
  font-size: 13px;
  line-height: 27px;
}
.div50 {
  width: 150px;
  height: 80px;
  float: left;
  margin-top: 45px;
}
.bsm {
  opacity: 0;
}
